{%- if inline -%}
	{
{%- else -%}
	\begin{figure}[ht]
{%- endif -%}
{%- if align -%}
	{{ '\\centering' if align == 'middle' else '\\ragged' + align }}
{%- endif -%}
\includegraphics
	{%- if size -%}
		[scale={{size}}]
	{%- endif -%}
{ {{- resource -}} }
{%- if inline -%}
	}
{%- else -%}
	\end{figure}
{%- endif -%}


