\documentclass{noiproblem}
\DeclareMathOperator{\xor}{xor}
\DeclarePairedDelimiter{\abs}{\lvert}{\rvert}
\begin{document}

\lhead{\parbox{\textwidth}{\textnormal{
	\footnotesize \title
	\ifdefined\subtitle
		（\subtitle）
	\fi
}}}

\rhead{\parbox{\textwidth}{\raggedleft\textnormal{
	\footnotesize
	\nouppercase \leftmark
}}}

{% block define_title %}{% endblock %}
{% block define_day %}{% endblock %}

\thispagestyle{Cover}
\begin{center}
	{\includegraphics[scale=0.35]{ccpc.png} \par}  \vskip 2em
	\ifdefined\engtitle
		{\hei \xiaochu \engtitle } 
	\fi
	\ifdefined\subtitle
		{\hei \xiaochu \subtitle } 
	\fi
	\par 
	\ifdefined\theday
		{\kai \chuhao \theday \par} \vskip 1em 
	\fi
	\ifdefined\time
		{\hei \sanhao \time \par}
	\fi
\end{center}

\setcounter{tocdepth}{1}
\tableofcontents

{% for i in range(problems.__len__()) %}
	\clearpage
	\begin{center}
		{\large \section{ 
			{{ tools.chr(tools.ord('A') + i) }} . 
			{{ probs[i]['cnname'] }} ~~/~~ 
			{{ probs[i]['name'].capitalize() }}
		} }
	\end{center}
	
	{{ problems[i] }}

{% endfor %}

\end{document}
