\documentclass{noiproblem}
\DeclareMathOperator{\xor}{xor}
\DeclarePairedDelimiter{\abs}{\lvert}{\rvert}
\begin{document}

\lhead{\parbox{\textwidth}{\textnormal{
	\footnotesize \title
	\ifdefined\subtitle
		（\subtitle）
	\fi
}}}

{% block define_title %}{% endblock %}
{% block define_day %}{% endblock %}

\thispagestyle{Cover}
\begin{center}
	{\includegraphics[scale=0.35]{ccpc.png} \par}
	\ifdefined\engtitle
		{\yihao \xiaochu \engtitle \par} \vskip 1em
	\fi
	\ifdefined\subtitle
		{\yihao \hei \subtitle \par} \vskip 1em
	\fi
	\ifdefined\theday
		{\kai \xiaoyi \theday \par} \vskip 1em 
	\fi
	\ifdefined\time
		{\hei \sanhao \time \par}
	\fi
\end{center}

\setcounter{tocdepth}{1}
\tableofcontents

{% for i in range(problems.__len__()) %}

	\clearpage

	\begin{center}
		{\large \section{ 
			{{ tools.chr(tools.ord('A') + i) }} . 
			{{ probs[i]['cnname'] }} ~~/~~ 
			{{ probs[i]['name'][0].upper() + probs[i]['name'][1:] }}
		} }
	\end{center}
	
	{{ problems[i] }}

{% endfor %}

\end{document}
