<table class="table table-bordered"
{%- if 'font size' in options -%}
	style="font-size:{{options['font size']}}"
{%- endif -%}
><thead>
	{%- for i in range(table.__len__()) -%}
		<tr>
		{%- with first_row = loop.first -%}
			{%- for j in range(table[i].__len__()) -%}
				{%- if table[i][j] -%}
					<
						{%- if first_row and comp != 'tsinsen-oj' -%}
							th
						{%- else -%}
							td
						{%- endif %} rowspan="{{- cnt[i][j] -}}">{{ table[i][j] }}<
						{%- if first_row and comp != 'tsinsen-oj' -%}
							/th
						{%- else -%}
							/td
						{%- endif -%}
					>
				{%- endif -%}
			{%- endfor -%}
		{%- endwith -%}
		</tr>
		{%- if loop.first -%}
			</thead><tbody>
		{%- endif -%}
	{%- endfor -%}
</tbody></table>
